<script src="~/Scripts/pages/Index.js"></script>
<script>
    $(document).ready(
        function () {
            
            $("#tabs").tabs();
            $(".inventory-list").menu();
            $(".inventory-item-count-spinner").spinner();
            $("#factoryItemsAccordian").accordion({ "collapsible": "true" });
            $("#upgradeListAccordian").accordion({ "collapsible": "true" });
            $("#btnCreateSupplyChainStrategy").button();
            $("#divTrash").droppable({
                tolerance: "touch",
                drop: function(event, ui) {
                    var src = $(ui.draggable);
                    
                    if (src.hasClass("property-upgrade-h3")) {
                        if (confirm("remove item from list?")) {
                            var lastActive = $("#upgradeListAccordian").accordion("option", "active");
                            RemoveUpgrade(src);
                            $("#upgradeListAccordian").accordion("refresh");
                            $("#upgradeListAccordian").accordion("option", "active", lastActive);
                        }
                    } else {
                        if (confirm("remove item from list?")) {
                            src.remove();
                            $("#upgradeListAccordian").accordion("refresh");
                        }
                    }
                    
                }
            });
            $(".combined-list-ul").tooltip({
                content: "Awesome title!"
            });
            PopulateFacilities(NewBuildingUpgrade);
//            NewBuildingUpgrade();
        }
    );
</script>
<div>
    <div id="tabs">
        <ul>
            <li><a href="#buildingUpgrades">Building Upgrades</a></li>
            <li><a href="#facilities">BuildingFacilities</a></li>
        </ul>
        <div id="buildingUpgrades">
            <table width="1000px">
                <tr>
                    <td class="left-pane">
                        <h2>Available Inventory</h2></td>
                    <td class="left-pane">
                        <h2>Building Upgrades</h2>
                    </td>
                    <td style="text-align: right; white-space: nowrap">
                        <img id="divTrash" src="~/Images/trash.gif"/>
                        <a style="cursor: pointer" onclick="NewBuildingUpgrade()"><img src="~/Images/add.gif"/></a>
                    </td>
                </tr>
                <tr>
                    <td class="left-pane">
                        <div class="inventory-list-container ">
                            <!-- main inventory div -->
                            <div id="factoryItemsAccordian"></div>
                        </div>
                    </td>
                    <td id="upgradeListContainer" class="left-pane" colspan="2">
                        <div id="upgradeListAccordian" class="upgrade-list-accordian">
                            <h3>Required Updgrade Products (Minus City Storeage)</h3>
                            <div class="upgrade-list-div combined-list-div">
                                <ul class="combined-list-ul"></ul>
                            </div>
                            <h3>Total Upgrade Products</h3>
                            <div class="upgrade-list-div combined-list-div">
                                <ul class="total-combined-list-ul"></ul>
                            </div>
                            <h3>Available Storage</h3>
                            <div class="upgrade-list-div available-storage-div">
                                <ul class="available-storage-list-ul"></ul>
                            </div>
                            <h3>City Storage</h3>
                            <div class="upgrade-list-div combined-list-div"><span class="property-upgrade-name property-upgrade-hidden">City Storage</span>
                                <ul class="inventory-list storage-list-ul upgrade-list"></ul>
                            </div>
                        </div>
                        <div class="bottom-right-toolbox"><a id="btnCreateSupplyChainStrategy" onclick="CreateSupplyChainStrategy()">Create Supply Chain</a></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="facilities">
            
        </div>
    </div>
</div>
<div id="upgradeListTemplate" style="display: none">
    <h3 class="property-upgrade-h3"><span class="property-upgrade-name"></span></h3>
    <div class="upgrade-list-div">
@*        <span class="ui-icon ui-icon-trash" onclick="RemoveUpgrade(this);"></span>*@
        <span class="property-upgrade-name property-upgrade-hidden"></span>
        <ul class="inventory-list upgrade-list"></ul>
    </div>
</div>
<div id="inventoryItemDialogue" title="Item Details">
    <div id="itemName"></div>
    <div id="prerequisites"></div>
</div>
