@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MvcLayout.cshtml";
}
<script>
    $(document).ready(
        function () {
            $("#cityManagerContainer").fadeIn();
        }
    );
</script>
<h2>Delete</h2>
