<div style="width: 60%">
    <h4>Product Types</h4>filter:<input ng-model="query"/>
    <div class="entity-list-container">
        <div class="entity-list">
            <div ng-click="setProductType(productType)" class="entity-list-item product-list-item-draggable" ng-repeat="productType in productTypes | filter:query">
                {{productType.Name}}
            </div>
        </div>
    </div>
    <div>
        <h4>Product Type Detail</h4>
        <div class="product-detail-container">
            <div class="product-detail">
                <div><span class="item-label">Name:</span><span class="item-input"><input type="text" ng-model="currentProduct.Name" /></span></div><br/>
            </div>
            <div class="product-detail">
                <div><span class="item-label">Duration (mins):</span><span class="item-input"><input type="number" ng-model="currentProduct.TimeToManufacture" /></span></div>
            </div>
            <div class="product-detail">
                <div>
                    <span class="item-label">Manufacturer:</span>
                    <span class="item-input">
                        <select name="manufacturersSelect" 
                                ng-model="currentProduct.ManufacturerTypeWrapper"
                                ng-options="mf as mf.Name for mf in manufacturers track by mf.Id">
                        </select>
                    </span>
                </div>
            </div>
            <div>
                <table>
                    <tr>
                        <td><span class="item-label-bold">Required Products:</span>&nbsp;&nbsp;&nbsp;<a ng-click="newRequiredProduct" style="cursor: pointer">Add Required Product</a></td>
                    </tr>
                    <tr ng-repeat="product in currentProduct.RequiredProducts">
                        <td>
                            <span class="item-label">
                                <select name="manufacturersSelect" 
                                        ng-model="product.ProductTypeWrapper"
                                        ng-options="pt as pt.Name for pt in productTypes track by pt.Id">
                                </select>
                            </span>
                            <span class="item-input"><input type="number" ng-model="product.Quantity"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

