body {

}

.city-manager-table {
    margin: 4px;
    padding: 4px;
    width: 1170px;
}
.city-manager-accordion {
    width: 100%; 
    overflow: scroll; 
    height: 540px
}
.building-manager-accordion {
    float: right;
}
.city-manager-nav-bar {
    text-align: right; 
    white-space: nowrap
}
.progress-bar-container {
    width: 300px;
    height: 8px;
    display: inline-block;
}

.city-manager-nav-icon {
    width: 45px;
    height: 38px;
}
.city-manager-left-pane {
    width: 50%;
    vertical-align: top;
    text-align: left
}
.city-manager-right-pane {
    width: 50%;
    vertical-align: top;
}
.city-manager-section-header {
    width: 460px;
    vertical-align: top;
}
/*
    building upgrade list styles
*/
.building-upgrade-name-input {
    font-size: 14px
}

/*
    product select list styles
*/
.product-list-container {
    border-radius: 25px;
    padding: 10px;
    background-color: #E1F0FF;
    text-align: center;
}
.product-list {
    width: 90%;
    min-height: 20px;
    max-height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    margin-right: 10px;
    overflow-x: hidden;
    text-align: left;
}
.product-list-item {
    border-width: 2px;
    border-color: #E1F0FF;
    margin: 2px;
    padding: 3px;
    cursor: pointer;
    width: 400px;
    display: block;
    font-size: 12px;
    height: 20px;
}
.product-list-item:hover {
    border-width: 2px;
    border-color: black;
    margin: 2px;
    padding: 3px;
    cursor: pointer;
    width: 400px;
    display: block;
    font-size: 12px;
    height: 20px;
    color: #0099CC;
    background-color: #0D1764;
}
.product-list-item-counter {
    float: right;
    width: 70px
}
.product-detail-container {
    border-radius: 25px;
    padding: 10px;
    background-color: #E1F0FF;
    text-align: center;
}
.product-detail {
    width: 90%;
    margin: 0;
    padding: 5px 0 0 0;
    margin-right: 10px;
    overflow-x: hidden;
    text-align: left;
}

.product-name {
    float: left;
    height: 20px;
    width: 150px;
    display: block;
    vertical-align: bottom;
    font-size: 12px;
}
.item-label {
    float: left;
    height: 25px;
    width: 150px;
    display: block;
    vertical-align: bottom;
    font-size: 12px;
}
.item-label-bold {
    text-decoration: underline;
}
.item-input {
    float: left;
    height: 20px;
    width: 150px;
    display: block;
    vertical-align: bottom;
    font-size: 12px;
}

.update-inventory {
    float: right;
}

.btn-complete-upgrade {
    font-size: 10px
}

.product-Grid {
    width: 450px;
    height: 100px;
  }

